{% extends "app/base.html" %}
{% load static %}
{% block startapp-content %}
<style>  
    .sidebar {
        color: white;
        position: fixed;
        top: 0;
        bottom: 0;
        height: 100%;
        z-index: 1000; /* Ensure it is above other content */
    }

    .sidebar a {
        color: white;
        text-decoration: none;
    }
    
    .sidebar a:hover {
        background-color: #495057;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
            <div class="position-sticky">
                <ul class="nav flex-column">
                    </br></br></br></br></br>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Analytics
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Reports
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Settings
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="container mt-5 text-white">
                <h1 class="text-center">Upload and Display Image</h1>
                <div class="row">
                    <div class="col-md-6">
                        <form class="p-2">
                            <div class="mb-3">
                                <label for="imageUpload" class="form-label">Choose an image to upload</label>
                                <input type="file" class="form-control" id="imageUpload" accept="image/*">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row mb-5 pb-5">
                    <div class="col-md-6">
                        <img class="img-fluid" id="imageFrame" src="{% static "images/placeholder.jpg" %}" width="500">
                    </div>
                    <div class="col-md-6">
                        <img class="img-fluid" src="{% static "images/placeholder.jpg" %}" width="500">
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script>
    document.getElementById('imageUpload').addEventListener('change', function(event) {
        var imageFrame = document.getElementById('imageFrame');
        imageFrame.innerHTML = '';

        var file = event.target.files[0];
        if (file) {
            var reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById('imageFrame').src = e.target.result;
            }
            reader.readAsDataURL(file);
        }
    });
</script>
{% endblock startapp-content %}